.meal-card {
  grid-column: auto;
  grid-row: 2;
  min-height: 31.25rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #edefee;
  box-shadow: 0 0 15px #d9d9d9;
}

.meal-card-image {
  position: relative;
  height: 12.5rem;
  overflow: hidden;
}

.meal-card:hover .meal-card-image img {
  transform: scale(1.08);
}

.meal-card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  object-position: 50% 5%;
  transition: all linear 300ms;
}

.meal-card-header,
.meal-card-body-footer {
  padding: 0 1rem;
}

.meal-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-card-header h3 {
  font-size: 1.125rem;
}

.meal-card-header span {
  font-weight: 700;
  color: #ee9972;
}

.meal-card-body-footer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.meal-card-body-footer a {
  font-weight: bold;
}

.meal-card-body-footer svg {
  margin-left: 0.5rem;
}

@media (max-width: 960px) {
  .meal-card {
    grid-row: auto;
  }
}
